/* Raleway 700 */
/* Roboto 400(regular) 500(medium) 700(bold) 900(extra bold)*/
/* color bg hero + footer black #2F303A */
/* accent color blue logo + blue filter + hover #2196F3 but blue hero button #188CE8 */
/* logo  text color black #000000 */
/* nav links text color black #212121 */
/* paragraph text color black #757575 */
/* h1 color + hero "button" + footer address text white #ffffff */
/* footer e-mail & phone text white #ffffff 60%*/
/* phone text + h2 + h3 color dark grey #212121*/
/* "our team" section background + filters in Portfolio bg light grey #F5F4FA*/
/* web site bg #F5F5F5 */
/* Custom  properties*/
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --logo-color: #000000;
  --filterbutton-color: #f5f4fa;
  --herobutton-color: #188ce8;
  --footer-color: #2f303a;
  --hero-bg: #c4c4c4;
  --address-color: rgba(255, 255, 255, 0.6);
  --border-color: #ececec;
  --hero-bg: #c4c4c4;
  --icon-color: #afb1b8;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* For all elements in body */
body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
  background-color: var(--background-color);
  color: var(--primary-text-color);
}

/* Resets and utilities */
button {
  font: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* No bullets */
ul {
  list-style: none;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

/* Links*/
a {
  text-decoration: none;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* the end of reset */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Logo */
.logo-accent {
  color: var(--accent-color);
}

.logo {
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-header {
  padding: 24px 0;
  margin-right: 93px;
  color: var(--logo-color);
}

/* Navigation */
.site-nav.flex-container,
.contacts.flex-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.link.current {
  position: relative;
}

.link.current::after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  height: 4px;
  width: 100%;
  background: var(--accent-color);
  border-radius: 2px;
}

.contacts {
  margin-left: auto;
}

.address .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.address + .address {
  margin-left: 50px;
}

.icon-envelope,
.icon-smartphone {
  margin-right: 10px;
  fill: var(--primary-text-color);
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

.icon-smartphone {
  vertical-align: bottom;
}

.icon-link:hover .icon-envelope,
.icon-link:hover .icon-smartphone,
.icon-link:focus .icon-envelope,
.icon-link:focus .icon-smartphone {
  fill: var(--accent-color);
}

/* Sections */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* Hero */
.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
  text-align: center;
  background-color: var(--hero-bg);
  /* hero overlay */
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color);
}

.btn-hero {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--background-color);
  border-radius: 4px;
  padding: 10px 32px;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}

/* Modal and backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity var(--animation), visibility var(--animation);
  transition: opacity var(--animation), visibility var(--animation);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  min-height: 581px;
  width: 528px;
  top: 50%;
  left: 50%;
  padding: 40px;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-color: var(--background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: opacity 150ms ease-in 400ms, -webkit-transform 400ms ease;
  transition: opacity 150ms ease-in 400ms, -webkit-transform 400ms ease;
  transition: opacity 150ms ease-in 400ms, transform 400ms ease;
  transition: opacity 150ms ease-in 400ms, transform 400ms ease, -webkit-transform 400ms ease;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.1);
          transform: translateX(-50%) translateY(-50%) scale(0.1);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

.modal-close:hover,
.modal-close:focus {
  fill: var(--accent-color);
}

.modal-title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--secondary-text-color);
}

.modal-form-label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  text-align: left;
}

.modal-form-label:not(:first-of-type) {
  margin-top: 10px;
}

.modal-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: var(--logo-color);
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

.modal-icon:hover,
.modal-icon:focus {
  fill: var(--accent-color);
}

.modal-input {
  padding: 10px 0;
  padding-left: 40px;
  padding-right: 5px;
}

.modal-input,
.modal-textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border var(--animation);
  transition: border var(--animation);
}

.modal-form-label > .modal-input:hover,
.modal-form-label > .modal-input:focus {
  border: 1px solidvar(--accent-color);
  outline: 1px solid transparent;
}

.modal-input:hover ~ .modal-icon,
.modal-input:focus ~ .modal-icon {
  fill: var(--accent-color);
}

.modal-textarea {
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  resize: none;
  padding: 12px 16px;
  outline: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}

.modal-textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-label > .modal-textarea:hover,
.modal-form-label > .modal-textarea:focus {
  border-color: var(--accent-color);
  outline: 1px solid transparent;
}

.modal-comment {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-form {
  text-align: center;
}

.modal-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  color: var(--background-color);
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: box-shadow var(--animation), background-color var(--animation);
  transition: box-shadow var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
}

.conditions-text,
.agreed-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.agreed-link {
  text-decoration: underline;
  color: var(--accent-color);
}

/* custom checkbox */
.modal-checkbox-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7px;
  margin-bottom: 30px;
}

.modal-checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox-custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 16px;
  width: 15px;
  border: 2px solid var(--secondary-text-color);
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}

.checkbox-icon {
  fill: transparent;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

.modal-checkbox:checked + .checkbox-custom {
  background-color: var(--accent-color);
  border: none;
  -webkit-transition: bakcground-color var(--animation);
  transition: bakcground-color var(--animation);
}

.modal-checkbox:checked + .checkbox-custom > .checkbox-icon {
  fill: white;
}

/* Features*/
.feature-list .item {
  width: calc((100% - 90px) / 4);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-list .item:not(:last-child) {
  margin-right: 30px;
}

.feature-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.feature-text {
  font-size: 14px;
  line-height: 1.7;
  margin-top: 10px;
}

.icon-feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--filterbutton-color);
  margin-bottom: 30px;
  text-align: center;
}

/* Tasks */
.section.tasks {
  padding-top: 0px;
}

.tasks.flex-container {
  gap: 30px;
}

.task-thumb {
  position: relative;
}

.thumb-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Team */
section.team {
  background: var(--filterbutton-color);
}

.team-item {
  border-radius: 4px 0px;
  background: var(--background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.job {
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
}

.socials {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.team-icon {
  fill: var(--icon-color);
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

.link-icon:hover > .team-icon,
.link-icon:focus > .team-icon {
  /* background-color: var(--accent-color); */
  fill: white;
}

.link-icon:hover,
.link-icon:focus {
  background-color: var(--accent-color);
}

/* Clients */
.link-client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  outline: transparent;
  padding: 16px 32px;
  -webkit-transition: border var(--animation);
  transition: border var(--animation);
}

.client-item:not(:last-child) {
  margin-right: 30px;
}

.client-icon {
  fill: var(--icon-color);
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

.link-client:hover,
.link-client:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.link-client:hover .client-icon,
.link-client:focus .client-icon {
  fill: var(--accent-color);
}

/*Portfolio */
/* Filter */
.filter {
  margin-bottom: 50px;
}

.filter.flex-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-filter {
  min-height: 38px;
  border-radius: 4px;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: var(--filterbutton-color);
}

.filter .item:not(:last-child) {
  margin-right: 8px;
}

/* Projects */
.project-list.flex-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-list .title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.project-list .text {
  font-size: 16px;
  line-height: 1.9;
  color: var(--primary-text-color);
}

/* calc = 100% (from parent)-sum of the margins in the line -1 
  / the number of the elements in the line */
.project-list .item {
  width: calc((100% - 60px) / 3);
}

.project-list .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.card-bottom {
  padding: 20px 24px;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.project-list .item:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}

.project-link {
  outline: transparent;
}

.project-card-top {
  position: relative;
  overflow: hidden;
}

.project-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: var(--background-color);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--animation);
  transition: -webkit-transform var(--animation);
  transition: transform var(--animation);
  transition: transform var(--animation), -webkit-transform var(--animation);
}

.project-link:hover .project-overlay-text,
.project-link:focus .project-overlay-text {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

/* Footer */
.footer {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  color: var(--background-color);
  margin-bottom: 20px;
}

.footer-address .link {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.link.address {
  color: var(--address-color);
}

.link.street-address {
  color: var(--background-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

/* Socials in footer */
.general.flex-container {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.join-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 70px;
}

.socials-text,
.mlist-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color);
}

.footer-socials .link-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-item:not(:last-of-type) {
  margin-right: 10px;
}

.footer .team-icon {
  fill: var(--background-color);
}

.link-icon:hover,
.link-icon:focus {
  background-color: var(--accent-color);
}

.mlist-text {
  margin-bottom: 20px;
}

.mlist-label {
  display: block;
  width: 358px;
}

.mlist-input {
  padding: 15px 15px 15px 16px;
  width: 100%;
  background-color: var(--footer-color);
  color: var(--background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.mlist-input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mlist-input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mlist-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mlist-input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mlist-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mlist-icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 9px;
  fill: var(--background-color);
}

.btn-mlist {
  width: 200px;
  padding: 10px 28px;
  margin-left: 12px;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--background-color);
  border: none;
}

.mailing-list {
  margin-left: 93px;
}

/* Hover */
.link {
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}

.btn {
  -webkit-transition: color var(--animation), background-color var(--animation);
  transition: color var(--animation), background-color var(--animation);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.btn-filter:hover,
.btn-filter:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: transparent;
  background-color: var(--accent-color);
}

.btn-hero:hover,
.btn-hero:focus {
  background-color: var(--herobutton-color);
}

.project-link:hover .project-card,
.project-link:focus .project-card {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.btn-filter {
  -webkit-transition: color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: box-shadow var(--animation), color var(--animation), background-color var(--animation);
  transition: box-shadow var(--animation), color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
}

.btn-mlist {
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}

.btn-mlist:hover,
.btn-mlist:focus {
  background-color: var(--herobutton-color);
}

.modal-button:hover,
.modal-button:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: var(--herobutton-color);
}/*# sourceMappingURL=main.css.map */